

.whatsapp {
  position: fixed;
  top: 82%;
  left: 5%;
  padding: 10px;
  z-index: 10000000;
}

.figure-box {
  width: 100%;
  position: relative;
}
.figure-box figure {
  overflow: hidden;
  position: relative;
}
.figure-box figure img {
  max-width: 100%;
  position: relative;
}

.figure-box figcaption {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 15px;
  background-color: cornflowerblue;
  opacity: 85%;
  color: #FFF;
  font-size: 15px;
  text-align: center;
}

.footer{
  width: 100%;
  height: 80px; 
  margin-top: 20px;
  background-color: #F8F9FA;
  align-items: center;
}

.footer p {
  width: 100%;
  align-content: center;
  
}

.footer img {
  width: 25px;
  height: 25px;
}